<footer class="site-footer pt-3 pt-md-5">

  <div class="container mt-5 mb-3">
    <div class="row justify-content-between">
      <div class="col-md-4 order-md-1 col-6 text-left">
        <ul class="list-unstyled">
          <li class="mb-3"><a href="{{site.baseurl}}/contact/">Kontakt</a></li>
          <li class="mb-3"><a href="{{site.baseurl}}/impressum/">Impressum</a></li>
          <li class="mb-3"><a href="{{site.baseurl}}/privacy/">Datenschutzerklärung</a></li>
        </ul>
      </div>

      <div class="col-md-4 order-md-6 col-12 order-12 text-center">
        <img src="{{site.baseurl}}/img/logo-500.png" width="60" height="60" alt="Logo">
        <p class="text-muted">&copy; {{site.title}} 2021</p>
        <p class="text-muted">Deutsch • <a href="{{ page.url | replace: '/de/', '/' | prepend: '/en' | prepend: site.baseurl }}">English</a></p>
      </div>

      <div class="col-md-4 order-md-12 col-6 text-right">
        <ul class="list-unstyled">
          <li class="mb-3"><a href="https://github.com/skymatic" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
          <li class="mb-3"><a href="https://facebook.com/SkymaticDE" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></li>
          <li class="mb-3"><a href="https://twitter.com/SkymaticDE" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>

</footer>
