<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% if page.noindex == true %}
  <meta name="robots" content="noindex">
{% endif %}

  <title>{% if page.title %}{{ page.title | escape }} • {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | escape }}{% else %}{{ site.description | xml_escape }}{% endif %}">

  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
{% for stylesheet in page.stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet | prepend: site.baseurl }}">
{% endfor %}
  <link rel="stylesheet" href="{{ '/css/fontawesome-all.css' | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl }}">
  <link rel="alternate" hreflang="en" href="{{ page.url | replace: 'index.html', '' | prepend: '/en' | prepend: site.baseurl }}">
</head>
