---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';
@import 'custom';

@include media-breakpoint-down(md) {
  h1, .h1 { font-size: $h2-font-size; }
  h2, .h2 { font-size: $h3-font-size; }
  h3, .h3 { font-size: $h4-font-size; }
  h4, .h4 { font-size: $h5-font-size; }
  h5, .h5 { font-size: $h6-font-size; }
}

.jumbotron {
  background-image: url({{site.baseurl}}/img/bg-generic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  color: white;

  h1 {
    font-size: $font-size-base * 4.5;
    text-shadow: 0 2px 2px rgba(0,0,0,.5);
  }

  .tagline {
    font-size: $h2-font-size;
    font-weight: $font-weight-light;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
  }

  @include media-breakpoint-only(xs) {
    h1 {
      font-size: $font-size-base * 3.5;
    }

    .tagline {
      font-size: $h3-font-size;
    }
  }
}

.navbar-nav {
  .nav-item.active {
    border-bottom-style: solid;
    border-bottom-width: 0.2em;
    border-bottom-color: $white;
  }
}

// Sticky Footer:

$footer-height: 150px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

.site-footer {
  background-color: $gray-100;
  position: absolute;
  bottom: 0;
  height: $footer-height;
  line-height: 1.5em;
  width: 100%;
}

// Material Icons

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
