<footer class="site-footer">
  <div class="container mt-5 mb-1">
    <div class="row justify-content-between">
      <div class="col-md-4 order-md-1 col-6 text-left">
        <ul class="list-unstyled">
          <li>
            <a href="{{site.baseurl}}/impressum/">
              Impressum
            </a>
          </li>
          <li>
            <a href="{{site.baseurl}}/privacy/">
              Datenschutzerklärung
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 order-md-6 col-12 order-12 text-center">
        <img src="{{site.baseurl}}/img/logo-500.png" width="60" height="60" alt="Logo">
        <p class="text-muted">&copy; {{site.title}} 2017</p>
      </div>

      <div class="col-md-4 order-md-12 col-6 text-right">
        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/cryptomator" target="_blank">
              <i class="fa fa-github" aria-hidden="true"></i> GitHub
            </a>
          </li>
          <li>
            <a href="https://facebook.com/SkymaticDE" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
            </a>
          </li>
          <li>
            <a href="https://twitter.com/SkymaticDE" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>


</footer>
