<footer class="site-footer">
  <div class="container mt-5 mb-1">
    <div class="row">
      <div class="col text-left">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="{{site.baseurl}}/impressum/">
              Impressum
            </a>
          </li>
          <li class="list-inline-item">
            <a href="{{site.baseurl}}/privacy/">
              Datenschutzerklärung
            </a>
          </li>
        </ul>
      </div>
      <div class="col text-center">
        <img src="{{site.baseurl}}/img/logo-500.png" width="60" height="60" alt="Logo">
        <p class="text-muted">&copy; {{site.title}} 2017</p>
      </div>
      <div class="col text-right">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://github.com/cryptomator" target="_blank">
              <i class="fa fa-github" aria-hidden="true"></i> GitHub
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://facebook.com/SkymaticDE" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/SkymaticDE" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
