<header class="sticky-top" role="banner">

  <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container d-flex">
      <a class="navbar-brand" href="{{site.baseurl}}/">
        <img src="https://dummyimage.com/30x30" width="30" height="30" alt="{{ site.title }}">
      </a>
      <ul class="navbar-nav ml-auto">
        {% for my_page in site.pages %}
        {% if my_page.title %}
        <li class="nav-item">
          <a class="nav-item nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title | escape }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>

</header>
