// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// See https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss

$primary: #4dadd8;

$body-bg: #f8f9fa;
$body-color: #343a40;

$navbar-dark-color: #fff;
